<md-card class="pad-md">
    <div flex layout="row" layout-align="center start">
        <span class="md-title">{{ 'labels.lastCommits' | translate }}</span>
    </div>

    <div layout="row">
        <md-list flex>
            <md-list-item *ngFor="let commit of lastCommits">
                <div layout="row" flex>
                    <span flex>{{ commit.date | date:"dd/MM/yyyy HH:mm" }}</span>
                    <span flex="60">{{ commit.message }}</span>
                    <span flex="10">{{ "enums."+commit.status | translate }}</span>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <md-card-footer>
        <md-progress-bar *ngIf="lastCommits == null" mode="indeterminate"></md-progress-bar>
    </md-card-footer>
</md-card>    