<md-card>
    <div class="pad-sm">
        <h2>{{ 'labels.commits' | translate }}</h2>
        <table td-data-table>
            <th td-data-table-column width="10%">
                <span>Jogador</span>
            </th>
            <th td-data-table-column width="10%">
                <span>Data</span>
            </th>
            <th td-data-table-column width="10%" hide-xs hide-gt-xs>
                <span>Projeto</span>
            </th>
            <th td-data-table-column width="10%" hide-xs hide-gt-xs>
                <span>Ciclo</span>
            </th>
            <th td-data-table-column width="40%" hide-xs hide-gt-xs>
                <span>Mensagem</span>
            </th>
            <th td-data-table-column width="10%" hide-xs>
                <span>Status</span>
            </th>
            <th td-data-table-column width="10%" hide-xs>
                Ações
            </th>
            <tr td-data-table-row *ngFor="let commit of commits">
                <td>
                    {{ commit.user.nickname }}
                </td>

                <td>
                    {{ commit.date | date:'dd/MM/yyyy HH:mm:ss' }}
                </td>

                <td hide-xs hide-gt-xs>
                    {{ commit.iteration.project.name }}
                </td>

                <td hide-xs hide-gt-xs>
                    {{ commit.iteration.name }}
                </td>

                <td hide-xs hide-gt-xs>
                    {{ commit.message }}
                </td>

                <td hide-xs>
                    {{ "enums."+commit.status | translate }}
                </td>

                <td hide-xs>
                    <button md-icon-button (click)="analyzeCommit(commit);" mdTooltip="{{ 'labels.analyzeCommit' | translate }}"><md-icon>search</md-icon></button>
                    <button md-icon-button *ngIf="commit.status != CommitStatus[CommitStatus.ANALYZED]" (click)="reviewCommit(commit);" mdTooltip="{{ 'labels.reviewCommit' | translate }}"><md-icon>check</md-icon></button>
                </td>
            </tr>
        </table>
    </div>
</md-card>