<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<div flex layout-fill layout="row" layout-align="center center" >
    <md-card flex="25" flex-xs="80" flex-gt-xs="80" flex-gt-md="25">
        <md-toolbar>
            <span flex></span>
            <span>Qualygame</span>
            <span flex></span>
        </md-toolbar>

        <div layout="column" layout-margin>
            <form (keyup.enter)="login()">
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="email" required>
                    </md-input-container>
                </div>

                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <input mdInput placeholder="Senha" name="password" [(ngModel)]="password" type="password" required>
                    </md-input-container>
                </div>

                <div layout="row" layout-padding layout-align="end center">
                    <button md-raised-button flex (click)="login()" color="primary">Entrar</button>    
                </div>
            </form>
        </div>
    </md-card>
</div>