<div flex layout="row" class="pad-top-sm" layout-align="center start">
    <div flex layout="column" layout-align="center center">
        <span>{{ 'labels.badges' | translate }}</span>
        
        <div flex layout="row" layout-margin>
            <img *ngFor="let badge of badgeList" class="badgeImage" [src]="badge.icon" mdTooltip="{{ 'badgeDescription.'+badge.description | translate }}">

            <span *ngIf="badgeList == null || badgeList.length == 0">{{ 'labels.userWithoutBadges' | translate }}</span>
        </div>
    </div>
</div>