<md-card>
    <div flex layout="row" layout-align="center center">
        <div flex layout="row" style="overflow: hidden; width: 200px; height: 200px;" layout-align="center center">
            <img style="margin: 0px; height: 150px; width: 150px; border-radius: 50%;" src="{{user?.photo}}">
        </div>
    </div>

    <div flex layout="row" layout-align="center start">
        <span class="md-display-1">{{user?.nickname}}</span>
    </div>

    <div flex layout="row" layout-align="center start">
        <span class="md-subhead">{{user?.name}}</span>
    </div>

    <div flex layout="row" class="pad-sm" layout-align="center start">
        <div flex="50" layout="column" layout-align="center center">
            <span>Nivel Atual </span>
            <span>{{ user?.level }}</span>
        </div>
        <span flex></span>
        <div flex="50" layout="column" layout-align="center center">
            <span>Pontuação Atual </span>
            <span>{{ user?.totalPontuation }}</span>
        </div>
    </div>

    <rt-progress-bar [percentage]="levelPercentage" [bgColor]="'#009688'" [fgColor]="'rgba(0, 150, 136, 0.4)'"></rt-progress-bar>

    <player-badges *ngIf="user != null" [user]="user"></player-badges>

    <quick-ranking *ngIf="user != null" [user]="user" [userOnly]="userOnlyRanking" hide-xs></quick-ranking>

    <md-card-footer>
        <div layout="row" layout-align="center start" flex>
            <md-progress-bar *ngIf="user == null" style="position: absolute;"  flex mode="indeterminate"></md-progress-bar> 
        </div>
    </md-card-footer>
</md-card>