<common-toolbar *ngIf="loggedUser != null" [loggedUser]="loggedUser"></common-toolbar>

<div layout="row" layout-xs="column" layout-sm="column" layout-md="column" layout-margin style="background-color: #E0E0E0; margin: 0px;">

    <player-profile [user]="loggedUser" [userOnlyRanking]="false" flex-xs="100" flex-gt-xs="100" flex-gt-md="25" flex="25"></player-profile>
    
    <div layout="column" flex="75" flex-gt-xs="100" flex-xs="100">
        <div layout="row" layout-xs="column" layout-sm="column">
            <player-last-commits *ngIf="loggedUser != null" [loggedUser]="loggedUser" flex="50" flex-xs="100" flex-gt-xs="100"></player-last-commits>
            <player-last-pontuation *ngIf="loggedUser != null" [loggedUser]="loggedUser" flex="50" flex-xs="100" flex-gt-xs="100"></player-last-pontuation>
        </div>
        
        <div layout="row" layout-xs="column" layout-sm="column">
            <team-summary  *ngIf="loggedUser != null" [loggedUser]="loggedUser" flex="50" flex-xs="100" flex-gt-xs="100" hide-xs></team-summary>
            <level-summary  *ngIf="loggedUser != null" [loggedUser]="loggedUser" flex="50" flex-xs="100" flex-gt-xs="100"></level-summary>
        </div>
    </div>
</div>